# Introduction to Python
-----
In the talk, we covered alot of theoretical content about how to write Python programs. In this notebook, we will practice how to write Python code through a series of exercises.

## Instuction for Exercises
- Please uncomment the line ```ADD YOUR CODE HERE``` and replace it with your code whenever its there. In some cases, I just use comments to ask the question, so put your code under the comment.
- In some cases, you need to put your solution in a new cell(s). 
- Please read the comments as some questions and/or instructions are provided there

## Python Operators
-----

### Examples

In [1]:
# Multiplication, division, modulo, and exponentiation
print(3 * 5)
print(10 / 2)
print(18 % 7)
print(4 ** 2)

15
5.0
4
16

In [2]:
x = 67.6666
print(type(x))

x2 = int(x)
print(type(x2))

a = 10
b = 5
ab = a/b
print(type(ab))

ab = a//b
print(type(ab))

<class 'float'>
<class 'int'>
<class 'float'>
<class 'int'>

### Exercises-Operators

1. 
Suppose you have $100, which you can invest with a 10% return each year. After one year, it's 100×1.1=110
dollars, and after two years it's 100×1.1×1.1=121.

 2.
 Try out all the comparison operators as shown in the slides.

## Variables
-----
Variables store values so you can access them later in your program.
* More formally, a variable is a storage location in computer memory, with a symbolic name (an identifier), which contains a piece of information (a value).
* Pick pretty much any combination of letters, numbers or special characters for your variable names.
* Assign variables with =

**Variable naming rules:**

- A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:

- A variable name must start with a letter or the underscore character
- A variable name cannot start with a number
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- A Variable names are case-sensitive (age, Age and AGE are three different variables)

### Examples

In [3]:
x = 5
first = "Dunstan"
last = 'Matekenya'
full_name = first + ' ' + last
print(x)
print(full_name)

5
Dunstan Matekenya

### Exerises: Variables

Do the calculation below. The instructioms are given in the comments

In [4]:
# Create a variable savings
savings = 100

# Create a variable growth_multiplier and give it any numeric value


# Create a variable number of years saved 


# Calculate result-amount of money gained


# Print out result

## Data Types

### Numeric Datatypes

#### Examples

In [5]:
x = 40.00
print(type(x))

x = 40
print(type(x))

x = 50
y = 10
xy = x*y
xy2 = x/y
print(type(xy))
print(type(xy2))

<class 'float'>
<class 'int'>
<class 'int'>
<class 'float'>

#### Exerises: Numeric Datatypes


1.
Create the following variables and print out the datatype by using the ```type()``` function.
- an int variable
- a float variable

Next, convert the float variable to int and print out the result.

2.
Do the exercise below by following instructions in the comments

In [6]:
# Create a float variable with 5 decimal places

# print out the variable

# Use ```round?``` to check how to use the round function
# create another variable with the first variable rounded 
# to 2 decimal places and print it out

In [7]:
# Checking documentation of a function
x = 56.4444444
round(x,1)

56.4

### Strings

In [8]:
my_name = 'Dunstan Matekenya'
my_name2 = "Dunstan"
my_name == my_name2

my_name2 + my_name

'DunstanDunstan Matekenya'

In [9]:
name = 'Dunstan Matekenya'

first_name = my_name[0:7]
first_name = my_name[:7]
first_name

'Dunstan'

In [10]:
+ – concatenation

* – repetition 

[i] – subscripting (zero-based; negative subscripts count from the end) 

[i:j] – slice from i-th character to one before the j-th (length of the slice is j - i) 

[i:] – slice from i-th character to the end

[:i] – slice from the first character to one before the i-th 

len (string) – returns number of characters in string

SyntaxError: invalid character in identifier (<ipython-input-10-c641cb9da6ad>, line 1)

In [ ]:
names = 'Dunstan Matekenya, Kossi'
names

In [ ]:
names[-5:0]

In [ ]:
first_name[-2]

#### Exercises
1. 
Perfom the following common string operations

In [ ]:
# create two string variables and then create 
# a third variable by combining the two, print it out


# Indexing 
h = "Hello world!"
# using indexing, extract the word hello from variable h 
# and print it out

# print out length of string above

2.
Get user input (name) and split it into *first* and *last* name

In [ ]:
# Get user input
text = input("Enter your name with one space in between: ")

# Print out the string entered by user

# Split the string into First and Last name
# use the function ```string.split() to split the string
# check documentation if necessary
first, last = YOUR CODE HERE

# print out first and last name on a single line

### Lists

#### Examples

In [ ]:
# create a list
thislist = ["apple", "banana", "cherry"]
print(thislist)

In [ ]:
# Selecting single elements using indices
x = ["a", "b", "c", "d"]
x[1]
x[-3] # same result!

In [ ]:
# Get element "d"
x[3]

In [ ]:
x[-1]

In [ ]:
# replace "a" with 'x'
x[0] = 'x'
x

In [ ]:
x = x + [1, 3, 4]
x

In [ ]:
# Use append()
x.append(100)
x

#### Exercises

1. 
Create a list from variables

In [ ]:
# area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# Create a list of areas using the variables above


# Print out the list

2.
Adding elements to list

In [ ]:
a = ['hi', 'there']

# add the following elements to the list: 'how', 'are', 'you'
# print out the new list


# Now, replace 'hi' with 'hey' using list indexing
# print out the new list

In [ ]:
# Example of using function join string elements in
# in a list

list = ['a', 'b']
one_str_from_list = ','.join(list)
one_str_from_list

3. Merging elements of a list

In [ ]:
# using example above, create variable greeting from variable
# a above which should look like this: hi there how are you
# print out variable greeting

### Dictionaries

#### Examples

In [ ]:
# Create a dict
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

# Access elements of a dict
x = thisdict["model"]
x1 = thisdict.get('model')
x == x1

# Change values
thisdict["year"] = 2018
print(thisdict)

In [ ]:
thisdict.keys()

In [ ]:
thisdict["model"]
thisdict.get('model')

#### Exercises

1.
Find out number of items in the dict variable above and print it out

2. Enrich the dict variable above by adding more 2 more key, value
pairs. For instance, *color*, *mileage* and give them values.

### Tuples

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

#### Exercises

1. Access tuple items using indexing. print out the last element

2. Create a dictionary using list of tuples

In [ ]:
list_of_tuples = [("brand", "Ford"), ("model", "Mustang"), 
                  ('year', 1980)]

# use the ```dict()``` function to create a dict object
# dict_from_tuples = YOUR CODE HERE

# Inspect the variable created above

In [ ]:
dict_from_tuples = dict(list_of_tuples)
dict_from_tuples

## Control Flow

### Examples

In [ ]:
food = 'burger'

In [ ]:
if food == 'veg':
    print ('yum')
elif food == 'chicken':
    print ('hmm maybe')
elif food == 'burger':
    print ('no thanks')
else:
    print ('more information needed')

In [ ]:
days = ['Mon','Tue','Wed','Thu','Fri','Sat','Sun']

for day in days:
    if day == 'Sat':
        location = '--> Beach!'
    elif day == 'Sun':
        location = '--> My sofa!'
    else:
        location = '--> MC5-215B'
    print(day, location)

In [15]:
s = 'Dunstan'
for i in s:
    print(i)

D
u
n
s
t
a
n

#### The break and continue Statement

With the break statement we can stop the loop even if the while condition is true. With the continue statement we can stop the current iteration, and continue with the next:

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

In [13]:
# Skip printing 2
i = 0
while i < 6:
    i += 1
    if i == 2:
        continue
    print(i)

1
3
4
5
6

In [14]:
i = 0
while i < 6:
  i += 1 
  if i == 2:
    break
  print(i)

1

### Exercises

1. Looping through a list

In [ ]:
fruits = ["apple", "banana", "cherry"]

# Loop through all items in fruits

# Loop through the items but this item when item is equal to 'banana', jump terminate the loop

1. Looping through a dictionary

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [ ]:
for k, v in thisdict.items():
    # print out the k and v below
    # YOUR CODE HERE
    pass

## Functions

### Examples

In [16]:
def print_my_name():
  print("Dunstan Matekenya")

In [17]:
# Call the function
print_my_name()

Dunstan Matekenya

In [18]:
def print_my_name2(first, last):
  print(first, last)

In [21]:
def sum_of_two_numbers(num1, num2):
  return num1 + num2

In [22]:
sum_of_two_numbers(10, 5)

15

### Exercises

1. Create a function which takes first, middle and last name 
and prints all the names out.

Hints: 
- First, define the funcion and execute cell
- Second, call the function passing it the required parameters

2. Create a function which takes a list of numbers and 
returns the largest number.

Hint: use the ```list.max()``` method to get the largest number

## Modules and Packages

### Exercise

Lets follow the steps below to create a simple module

1. Using your favorite text editor create a file named **hello.py** 
and save it in the notebooks folder in our working directory

2. In **hello.py**, add a function which prints first, middle and last name. Copy the function from previous code. Save the file and exit.

3. Now, lets use the module
    - use the **import** statement to import the module. Remember         that module name is file name
    - call the function we defined in the module using the dot syntax as follows: ```module_name.function()```

4. Edit **hello.py**, create any variable and give it a value

5. What if your module is in another directory?
    - Copy the hello.py file to another directory and try to to use it again

**Using module when in same directory**

In [25]:
import hello

In [26]:
# call my function
hello.print_my_name2('D', 'last')

D last

**Using module its in another directory**

In [ ]:
# Import hello module

# import the sys module. Its a built-in module

# use this function : sys.path.append(path-to-module)


# Call function

## File Handling

### Examples

Lets follow the steps below to read a simple file

In [ ]:
# File path to read: we will use th dow.txt file in the data folder
# file_path = YOUR CODE HERE

# Please inspect the file in text editor

# open the file for reading. We use the mode 'r' for reading
fopen = open(file_path,'r')

# Lets get the contents of the file
all = fopen.read()

# print out the data type of all

# print out all

# Now lets try another function
all2 = fopen.readlines()

# Check the data type for all2 and print it out
# whats the difference between all and all2?
# which is one is better?

Lets follow the steps below to write to a file

In [ ]:
new_file = '../data/dow2.txt'

# Note that now we use mode 'w' for writing
fopen_for_writing = open(new_file,'w')

# Lets write back the days we got
fopen_for_writing.write(all)

# Inspect the newly created file 

# Always have to close the file objects
fopen.close()
fopen_for_writing.close()

### Exercise

Read a CSV file so that each row is saved into a list as a list
of columns. We will create a nested  a nested list

In [ ]:
# Convert the dow.txt into CSV by adding header: dow, count
# For each day, add a comma separator and any random int for count
#dow_csv = YOUR CODE HERE

# open the file for reading
#fopen_csv = YOUR CODE HERE

# read all lines using readlines() function
#all_lines = YOUR CODE HERE

# Create an empty list to hold each row from the CSV
#YOUR CODE HERE

# Lets use a for loop to go through each line 
for line in all_lines:
    # remove the newline at the end of each list item
    #new_line = line.rstrip('\n')
    
    # add the new line to the empty list
    # make sure that you put new line in a list
    # so that we can see its from same row
    #YOUR CODE HERE
    pass

## Error Handling

### Examples

The code below fails because one of the keys isnt there

In [ ]:
d = {'a':10, 'b':50, 'c':90, 'd':80}
keys = ['a', 'b', 'e', 'k', 'j', 'd']

for k in keys:
    print(d[k])

Now lets use error handling to still run the loop even after an exception occurs

In [ ]:
for k in keys:
    try:
        print(d[k])
    except Exception as e:
        continue

### Exercise

# String Formatting

In [3]:
my_name = 'Dunstan Matekenya'
my_town = 'DC'
my_age = 100
sentence_to_print = 'My name is {} and Iam {} years old'.format(my_name, my_age)
print(sentence_to_print)

My name is Dunstan Matekenya and Iam 100 years old

In [ ]:
# Create a income variable, monthly income
income = 170.57

# create name variable
my_name = 'Dunstan Matekenya'

# My name is Dunstan Matekenya and my monthly income is 170 per month

In [9]:
income = 170.579999
'My name is {} and my monthly income is {:,2f}'.format(my_name, income)

ValueError: Invalid format specifier